@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #c6d936;
  --color-secondary: #05047e;
  --color-accent: #606060;
  --color-neutral: #606060;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 100%;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
